/* Set the size of the div element that contains the map */
#map {
  height: 30%;
  /* The height is 400 pixels */
  width: 70%;
  /* The width is the width of the web page */
}
#map2 {
  height: 30%;
  /* The height is 400 pixels */
  width: 70%;
  /* The width is the width of the web page */
}
